.card {
    width: 280px;
    min-height: 360px; 

    padding: 24px;
    background-color: #00497c;
    border-radius: 8px;

    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}

.text-warning {
    font-size: 40px;
}

.badge {
    font-size: 20px;
    background: none;
    color: #ffffff;
}

.card-text {
    font-size: 25px;
    color: #ffffff;
}

.cursor-pointer {
    cursor: pointer;
}
