.footer {
    background-color: #384050;
    color: #ffffff;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 15px 32px;
    height:3%
}

.legal-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 25px;
}

.legal-text a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.legal-text a:hover {
    text-decoration: underline;
}

.contact {
    font-size: 14px;
    line-height: 1.6;
}

.contact p {
    margin: 0 0 8px 0;
    font-weight: 600;
    }

.contact a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.contact a:hover {
    text-decoration: underline;
}