.footer {
    background-color: #384050;
    color: #ffffff;
    padding: 15px 32px;
}

/* LIENS LÉGAUX */
.legal-text {
    gap: 8px;
    padding-top: 25px;
}

.legal-text a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.legal-text a:hover {
    text-decoration: underline;
}

.contact {
    font-size: 14px;
    line-height: 1.6;
}

.contact p {
    margin: 0 0 8px;
    font-weight: 600;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
