/* HEADER GLOBAL */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 32px;
    background-color: #f1f8fc;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1;
}

.logo img {
    height: 150px;       
    width: auto;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search input {
    width: 100%;
    height: 30px;
    max-width: 420px;
    padding: 8px 12px;
    border-radius: 10px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23384050' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='7' cy='7' r='6'/%3E%3Cline x1='11' y1='11' x2='15' y2='15'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px center;
}

/* NAVIGATION (DROITE) */
.nav {
    display: flex;
    gap: 24px;
}

.nav a {
    font-weight: 600;
    font-size: xx-large;
    text-decoration: none;
    color: #384050;
    display: inline-block; 
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
    color: black;
    transform: translateY(-4px);
}
