@font-face {
    font-family: 'Graphik-Regular-Trial';
    src: url(../assets/fonts/Graphik-Regular-Trial.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Graphik-Regular-Trial', Arial, sans-serif;
    margin: 0;
}

#root {
    height: 100%;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}



