/* PAGE */
.contact-page {
    min-height: calc(100vh - 160px);
    padding: 40px 20px 40px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-page h1 {
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
}

/* FORMULAIRE */
.contact-form {
    background: #00365f;
    color: white;

    width: 100%;
    max-width: 520px;

    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

/* INPUTS / TEXTAREA */
.contact-form input,
.contact-form textarea {
    width: 400px;
    padding: 12px 20px;

    margin-bottom: 16px;

    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-family: inherit;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #6c7a89;
}

.contact-form textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 2px solid #ffd700;
}

/* BOUTON */
.contact-form button {
    display: block;
    margin: 20px auto 0;

    padding: 14px 30px;

    border: none;
    border-radius: 10px;

    background: #82b864;
    color: #00365f;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}

.contact-form button:hover {
    background: #9dc688;
}
